@page
@model LoginModel
@* 
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eTrade || Sign In</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/etrade/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/etrade/assets/css/vendor/base.css">
    <link rel="stylesheet" href="~/etrade/assets/css/style.min.css">

@*     <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=xKQykrspeC8H93MFN0PkeTSrL63ZQjxymp6e_VSxob18hTlOEMYWSNqdHEMbEBuu-M9T80lVtEA2ZXKGyPtzR0w-gUPywqcVC7TJF0QLPqA" charset="UTF-8"></script>
 *@</head>


<body>
    <div class="axil-signin-area">

        <!-- Start Header -->
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <a asp-action="Homepage" asp-controller="Home" class="site-logo"><img src="~/etrade/assets/images/logo/logo.png" alt="logo"></a>
                </div>
                <div class="col-sm-8">
                    <div class="singin-header-btn">
                        <p>Not a member?</p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="axil-btn btn-bg-secondary sign-up-btn">Sign Up Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--9">
                    <h3 class="title">We Offer the Best Products</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">Sign in to eTrade.</h3>
                        <p class="b2 mb--55">Enter your detail below</p>
                        <form class="singin-form" id="account" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="Input.Email" type="email" class="form-control" name="email" placeholder="annie@example.com">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input asp-for="Input.Password" type="password" class="form-control" name="password" placeholder="123456789">
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Sign In</button>
                                <a asp-page="./ForgotPassword" class="forgot-btn">Forget password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/etrade/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/etrade/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/etrade/assets/js/vendor/popper.min.js"></script>
    <script src="~/etrade/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/etrade/assets/js/vendor/slick.min.js"></script>
    <script src="~/etrade/assets/js/vendor/js.cookie.js"></script>
    <!-- <script src="~/etrade/assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="~/etrade/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="~/etrade/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="~/etrade/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="~/etrade/assets/js/vendor/sal.js"></script>
    <script src="~/etrade/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="~/etrade/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="~/etrade/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="~/etrade/assets/js/vendor/counterup.js"></script>
    <script src="~/etrade/assets/js/vendor/waypoints.min.js"></script>

    <!-- Main JS -->
    <script src="~/etrade/assets/js/main.js"></script>
    <partial name="_ValidationScriptsPartial" />
}


</html>