@using Microsoft.AspNetCore.Identity
@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
    ViewBag.img = Url.Content("~/img/user");
}
@inject SignInManager<User> SignInManager
@model User
<div class="" id="home">
    <form asp-controller="Account" asp-action="EditUser" enctype="multipart/form-data" class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <h2 class="tm-block-title">Loại người dùng</h2>
                    <p class="text-white">Tài khoản</p>
                    @if (ViewBag.SameUser)
                    {
                        <select name="role" class="custom-select" asp-items="@ViewBag.SelectType" disabled>
                        </select>
                    }
                    else
                    {
                        <select name="role" class="custom-select" asp-items="@ViewBag.SelectType">
                        </select>
                    }
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
            <div class="tm-block-col tm-col-avatar">
                <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                    <h2 class="tm-block-title">Đổi ảnh đại diện</h2>
                    <div class="tm-avatar-container" id="imageContainer">
                        <img src="@ViewBag.img/@Model.ImagePath"
                             alt="Avatar"
                             class="tm-avatar img-fluid mb-4" />
                    </div>
                    <button id="img_button" onclick="document.getElementById('fileInput').click();" type="button" class="btn btn-primary btn-block text-uppercase">
                        Thêm ảnh mới
                    </button>
                    <input name="fileInput" id="fileInput" type="file" accept="img" onchange="displayImage();" hidden />
                </div>
            </div>
            <div class="tm-block-col tm-col-account-settings">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                    <h2 class="tm-block-title">Cài đặt tài khoản</h2>
                    <div class="tm-signup-form row">
                        <input asp-for="Id" value="@Model.Id" hidden />
                        <div class="form-group col-lg-6">
                            <label for="name">Tên tài khoản</label>
                            <input id="UserName"
                                   name="UserName"
                                   asp-for="UserName"
                                   type="text"
                                   class="form-control validate" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="Email">Email</label>
                            <input id="Email"
                                   name="Email"
                                   type="Email"
                                   asp-for="Email"
                                   class="form-control validate" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="PhoneNumber">Số điện thoại</label>
                            <input id="PhoneNumber"
                                   name="PhoneNumber"
                                   asp-for="PhoneNumber"
                                   type="tel"
                                   class="form-control validate" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="tm-hide-sm">&nbsp;</label>
                            @if (ViewBag.SameUser)
                            {
                                <button type="button" class="btn btn-danger btn-block text-uppercase" disabled>
                                    Khóa tài khoản
                                </button>

                            }
                            else
                            {
                                if (Model.IsDeleted)
                                {
                                    <button type="button" onclick="RevertState('@Model.Id')" class="btn btn-success btn-block text-uppercase">
                                        Mở khóa tài khoản
                                    </button>
                                }
                                else
                                {
                                    <button type="button" onclick="RevertState('@Model.Id')" class="btn btn-danger btn-block text-uppercase">
                                        Khóa tài khoản
                                    </button>
                                }
                            }
                        </div>
                        <div class="col-12">
                            <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase">
                                Lưu thay đổi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function displayImage() {
        const fileInput = document.getElementById('fileInput');
        const imageContainer = document.getElementById('imageContainer');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                imageContainer.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image" class="tm-avatar img-fluid mb-4" style="max-height: 100%"; min-width: 340px; object-fit: cover>`;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }

    function RevertState(id) {
        window.location.href = "/Admin/Account/RevertState/" + id;
    }
    localStorage.setItem(imgPath, "~/img/user");
</script>