@{
    ViewData["Title"] = "SHOPWITHSLIDEBAR";
    Layout = "../Shared/_LayoutMain.cshtml";
    ViewData["ProductImageUrl"] = "/img/product";
}
@inject DegitalDelight.Services.Interfaces.IProductService productService
@model IEnumerable<Product>

<!-- Start Shop Area  -->
<div class="axil-shop-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="axil-shop-sidebar">
                    <div class="d-lg-none">
                        <button class="sidebar-close filter-close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="toggle-list product-categories active">
                        <h6 class="title">CATEGORIES</h6>
                        <div class="shop-submenu">
                            <ul>
                                @{
                                    foreach (var item in ViewBag.ProductTypes as List<ProductType>)
                                    {
                                        if (ViewBag.CurrentId == item.Id)
                                        {
                                            <li class="current-cat"><a href="#">@item.Name</a></li>
                                        }
                                        else
                                        {
                                            <li><a asp-action="Shop" asp-route-id="@item.Id">@item.Name</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <form asp-action="Shop" asp-route-id="@ViewData["CurrentId"]" class="mt--25">
                        <div class="toggle-list product-price-range active">
                            <h6 class="title">PRICE</h6>
                            <div class="shop-submenu">
                                <div id="slider-range"></div>
                                <div class="flex-center mt--20">
                                    <span class="input-range">Price: </span>
                                    <input type="text" id="amount" name="amount" class="amount-range" readonly>
                                    <input id="minPrice" name="minPrice" hidden />
                                    <input id="maxPrice" name="maxPrice" hidden />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="axil-btn btn-bg-primary">Search</button>
                    </form>
                </div>
                <!-- End .axil-shop-sidebar -->
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="axil-shop-top mb--40">
                            <div class="category-select align-items-center justify-content-lg-end justify-content-between">
                                <select onchange="ChangeSort(this.value)" class="single-select" value='@ViewData["CurrentSort"]'>
                                    <option value="Latest">Mới nhất</option>
                                    <option value="Oldest">Cũ nhất</option>
                                    <option value="PriceAsc">Giá tăng dần</option>
                                    <option value="PriceDesc">Giá giảm dần</option>
                                </select>
                                <!-- End Single Select  -->
                            </div>
                            <div class="d-lg-none">
                                <button class="product-filter-mobile filter-toggle"><i class="fas fa-filter"></i> FILTER</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .row -->
                <div class="row row--15">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-4 col-sm-6">
                            <div class="axil-product product-style-one mb--30">
                                <div class="thumbnail">
                                    <a asp-action="Product" asp-controller="Product" asp-route-id="@item.Id">
                                        <img src='@ViewData["ProductImageUrl"]/@item.Picture' alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        @{
                                            var discount = await productService.GetProductDiscount(item.Id);
                                            if (discount > 0)
                                            {
                                                <div class="product-badget">@discount%</div>
                                            }
                                        }
                                    </div>
                                    <div class="product-hover-action">
                                        <ul class="cart-action">
                                            <li class="wishlist"><a asp-action="AddItemToFavorite" asp-controller="Favorite" asp-route-id="@item.Id"><i class="far fa-heart"></i></a></li>
                                            <li class="select-option"><a asp-action="AddItemToCart" asp-route-id="@item.Id" asp-controller="Cart">Add to Cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <h5 class="title"><a asp-action="Product" asp-controller="Product" asp-route-id="@item.Id">@item.Name</a></h5>
                                        <div class="product-price-variant">
                                            @{
                                                var afterDiscountPrice = await productService.GetProductPriceAfterDiscount(item.Id);
                                                if (afterDiscountPrice != item.Price)
                                                {
                                                    <span class="price old-price">@item.Price.ToString("C") </span>
                                                }
                                                <span class="price current-price">@afterDiscountPrice.ToString("C") </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End .container -->
</div>
<!-- End Shop Area  -->
<!-- Start Axil Newsletter Area  -->
<div class="axil-newsletter-area axil-section-gap">
    <div class="container">
        <div class="etrade-newsletter-wrapper bg_image bg_image--5">
            <div class="newsletter-content">
                <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Tin tức</span>
                <h2 class="title mb--40 mb_sm--30">Nhận tin tức mỗi ngày</h2>
                <div class="input-group newsletter-form">
                    <div class="position-relative newsletter-inner mb--15">
                        <input placeholder="example@gmail.com" type="text">
                    </div>
                    <button type="submit" class="axil-btn mb--15">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End .container -->
</div>
<form id="sort" asp-action="Shop" asp-route-id="@ViewData["CurrentId"]" hidden>
    <input id="currentMinPrice" name="minPrice" value="@ViewData["CurrentMinPrice"]" />
    <input id="currentMaxPrice" name="maxPrice" value="@ViewData["CurrentMaxPrice"]" />
    <input id="currentSortType" name="sort" />
</form>
<!-- End Axil Newsletter Area  -->
@section Scripts {
    <script defer>
        $('#slider-range').slider({
            range: true,
            min: 0,
            max: 100000000, // 50 million 
            values: [@ViewData["CurrentMinPrice"], @ViewData["CurrentMaxPrice"]], // Initial range from 0 to 40 million 
            slide: function (event, ui) {
                $('#amount').val(
                    ui.values[0].toLocaleString() + ' ₫  ' + ui.values[1].toLocaleString() + '  ₫'
                );
                $('#minPrice').val(ui.values[0]);
                $('#maxPrice').val(ui.values[1]);
            }
        });

        $('#amount').val(
            $('#slider-range').slider('values', 0).toLocaleString() +
            ' ₫  ' + $('#slider-range').slider('values', 1).toLocaleString() + '  ₫'
        );
    </script>
    <script>
        function ChangeSort(sortType) {
            var form = document.getElementById("sort");
            var currentSortType = document.getElementById("currentSortType");
            currentSortType.value = sortType;
            form.submit();
        };
    </script>
}