@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject DegitalDelight.Services.Interfaces.IUserService UserService

@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewData["AccountImageUrl"] = Url.Content("~/img/user");
}

<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">My Account</li>
                        </ul>
                        <h1 class="title">Explore All Products</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="~/eTrade/assets/images/product//product-45.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area  -->
    <!-- Start My Account Area  -->
    <div class="axil-dashboard-area axil-section-gap">
        <div class="container">
            <div class="axil-dashboard-warp">
                <div class="axil-dashboard-author">
                    <div class="media">
                        <div class="thumbnail">
                            <img src='@ViewData["AccountImageUrl"]/@Model.ImagePath' alt="Hello Annie" style="width:70px; height:70px;">
                        </div>
                        <div class="media-body">
                            <h5 class="title mb-0">Hello @User.Identity.Name</h5>
                            <span class="joining-date">Degital Delight Member Since @Model.CreatedYear</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md-4">
                        <aside class="axil-dashboard-aside">
                            <nav class="axil-dashboard-nav">
                                <div class="nav nav-tabs" role="tablist">
                                    <a class="nav-item nav-link active" data-bs-toggle="tab" href="#nav-account" role="tab" aria-selected="false"><i class="fas fa-user"></i>Account Details</a>
                                    <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-orders" role="tab" aria-selected="false"><i class="fas fa-shopping-basket"></i>Orders</a>
                                    <a class="nav-item nav-link" onclick="Logout()" href="#"><i class="fal fa-sign-out"></i>Logout</a>
                                </div>
                            </nav>
                        </aside>
                    </div>
                    <div class="col-xl-9 col-md-8">
                        <div class="tab-content">
                            <div class="tab-pane fade" id="nav-orders" role="tabpanel">
                                <div class="axil-dashboard-order">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Mã đơn hành</th>
                                                    <th scope="col">Ngày</th>
                                                    <th scope="col">Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in (await UserService.GetCurrentUser()).Orders)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Date</td>
                                                        <td>@item.State</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="nav-account" role="tabpanel">
                                <div class="col-lg-9">
                                    <partial name="_StatusMessage" for="StatusMessage" />
                                    <div class="axil-dashboard-account">
                                        <form class="account-details-form" id="profile-form" enctype="multipart/form-data" method="post">
                                            <div class="row">
                                                <div class="col-6">
                                                    <h5 class="title">Avatar</h5>
                                                    <div class="tm-product-img-dummy mx-auto" id="imageContainer" style="background-size: cover; background-position: center; height: 200px; overflow: hidden">
                                                        <!-- Add an empty image tag to dynamically load the uploaded image -->
                                                        <div style="max-width: 200px; max-height: 200px; background-position: center center; background-repeat: no-repeat">
                                                            <img id="uploadedImage" src='@ViewData["AccountImageUrl"]/@Model.ImagePath' alt="Uploaded Image"
                                                                 style="min-width: 100%; max-height: 100%; background-position: center center; background-repeat: no-repeat">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="inputFile" id="inputFile" type="file" style="display:none;" onchange="displayImage();" />
                                                        <input type="button"
                                                               class="btn btn-primary btn-block mx-auto"
                                                               style="color:black"
                                                               value="UPLOAD PRODUCT IMAGE"
                                                               onclick="document.getElementById('inputFile').click();" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>UserName</label>
                                                        <input type="text" class="form-control" asp-for="Input.Username">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group mb--40">
                                                        <label>Phone Number</label>
                                                        <input type="text" class="form-control" asp-for="Input.PhoneNumber">
                                                        <p class="b3 mt--10">This will be how your name will be displayed in the account section and in reviews</p>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <h5 class="title">Password Change</h5>
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="********">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <input asp-for="Input.NewPassword" type="password" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Confirm New Password</label>
                                                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control">
                                                    </div>
                                                    <div class="form-group mb--0">
                                                        <input type="submit" class="axil-btn" value="Save Changes">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End My Account Area  -->
    <!-- Start Axil Newsletter Area  -->
    <div class="axil-newsletter-area axil-section-gap pt--0">
        <div class="container">
            <div class="etrade-newsletter-wrapper bg_image bg_image--5">
                <div class="newsletter-content">
                    <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>
                    <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
                    <div class="input-group newsletter-form">
                        <div class="position-relative newsletter-inner mb--15">
                            <input placeholder="example@gmail.com" type="text">
                        </div>
                        <button type="submit" class="axil-btn mb--15">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .container -->
    </div>
    <!-- End Axil Newsletter Area  -->
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function displayImage() {
            const fileInput = document.getElementById('inputFile');
            const imageContainer = document.getElementById('imageContainer');

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imageContainer.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image" class="img-fluid" style="max-height: 100%"; min-width: 340px; object-fit: cover>`;
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
}