@{
	Layout = "../Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<DegitalDelight.Models.Discount>
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col align-items-center">
			<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
				<h2 class="tm-block-title">Search</h2>
				<div style="display: inline-flex; width: 100%">
					<input id="search_input" style="flex-grow: 1; background-color: #50657b; color: white">
					<i class="fa fa-search" style="float: right; font-size: 50px; color: white; padding-left: 10px"></i>
					</input>
				</div>
			</div>
		</div>
	</div>
	<div class="row tm-content-row">
		<div class="col-6">
		</div>
		<div class="col-6">
			<a asp-action="CreateCodeDiscount" asp-controller="Discounts"
			   class="btn btn-primary btn-block text-uppercase mb-3">
				Add new code discount
			</a>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-products">
				<h2 class="tm-block-title">Product Discount</h2>
				<div class="tm-product-table-container">
					<table id="table1" class="table table-hover tm-table-small tm-product-table">
						<thead>
							<tr>
								<th scope="col">PRODUCT NAME</th>
								<th scope="col">AMOUNT</th>
								<th scope="col">QUANTITY</th>
								<th scope="col">START DATE</th>
								<th scope="col">END DATE</th>
							</tr>
						</thead>
						<tbody id="producttype_table">
							@foreach (var discount in Model)
							{
								if(discount.Type=="Product")
								{
									<tr onclick="EditProductDiscount(@discount.Id)">
										<td class="tm-product-name">@discount.Product.Name</td>
										<td>@discount.Amount</td>
										<td>@discount.Quantity</td>
										<td>@discount.StartDate</td>
										<td>@discount.EndDate</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-products">
				<h2 class="tm-block-title">Code Discount</h2>
				<div class="tm-product-table-container">
					<table id="table1" class="table table-hover tm-table-small tm-product-table">
						<thead>
							<tr>
								<th scope="col">CODE</th>
								<th scope="col">AMOUNT</th>
								<th scope="col">QUANTITY</th>
								<th scope="col">START DATE</th>
								<th scope="col">END DATE</th>
							</tr>
						</thead>
						<tbody id="code_table">
							@foreach (var discount in Model)
							{
								if (discount.Type == "code")
								{
									<tr onclick="EditCodeDiscount(@discount.Id)">
										<td class="tm-product-name">@discount.Code</td>
										<td>@discount.Amount</td>
										<td>@discount.Quantity</td>
										<td>@discount.StartDate</td>
										<td>@discount.EndDate</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>
<footer class="tm-footer row tm-mt-small">
	<div class="col-12 font-weight-light">
		<p class="text-center text-white mb-0 px-4 small">
			Copyright &copy; <b>2018</b> All rights reserved.

			Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
		</p>
	</div>
</footer>
<script type="text/javascript">
	function LoadDiscount(input) {
		//Load Product Type Discount
		var producttypetable = document.getElementById("producttype_table");
		producttypetable.innerHTML = ``;
		$.ajax({
			type: "GET",
			url: "/Admin/Discounts/SearchProductType",
			dataType: "json",
			async: true,
			data: { input: input },
			success: function (data) {
				$.each(data, function (key, value) {
					producttypetable.innerHTML = producttypetable.innerHTML + `
						<tr onclick="EditDiscount(${value.id})">
							<td class="tm-product-name">${value.product.name}</td>
							<td>${value.amount}</td>
							<td>${value.quantity}</td>
							<td>${value.startDate}</td>
							<td>${value.endDate}</td>
						</tr>
					`
				})
			},
			failure: function (err) {
			}
		})

		//Load Code Discount
		var codetable = document.getElementById("code_table");
		codetable.innerHTML = ``;
		$.ajax({
			type: "GET",
			url: "/Admin/Discounts/SearchCode",
			dataType: "json",
			async: true,
			data: { input: input },
			success: function (data) {
				$.each(data, function (key, value) {
					codetable.innerHTML = codetable.innerHTML + `
							<tr onclick="EditProduct(${value.id})">
								<td class="tm-product-name">${value.code}</td>
								<td>${value.amount}</td>
								<td>${value.quantity}</td>
								<td>${value.startDate}</td>
								<td>${value.endDate}</td>
							</tr>
					`
				})
			},
			failure: function (err) {
			}
		})
	}

	var input = document.getElementById("search_input");
	input.addEventListener("keydown", function (e) {
		if (e.keyCode === 13) {
			e.preventDefault();
			LoadDiscount(input.value);
		}
	});
	function EditCodeDiscount(DiscountId) {
		window.location = "EditCodeDiscount/" + DiscountId
	}
	function EditProductDiscount(DiscountId) {
		window.location = "EditProductDiscount/" + DiscountId
	}
</script>